.top{
     display: flex;
    justify-content: center;
    align-items: center;
}
.Heading{
    position: fixed;
       
}
.head{
    position: fixed;
    top: -50px;
    left:32%;
    font-size:60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sub{
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    top: 95px;
    left: 39%;

}
.sidebar{
  display:flex;
  flex-direction: column;
  align-items:start;
  gap: 10px;
    background-image: url(/Media/theme.webp);
    background-repeat: none;
    background-size: cover;
    overflow-x: hidden;
    transition: 0.3s;
    padding: 0px;
    position: fixed;
    top: 250px;
    border-radius: 25px;
    height: fit-content;
    margin: 0%;
    width: 0%;
    
}
 .sidesec{
        background-color:grey;
         background-color: hsla(200, 100%, 100%, 0.3);
        border-radius: 25px;
        width: 100%; 
    }
    .sidebar a{
    padding: 35px 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.2s;
}

.sidebar a:hover{
    background-color:red;
    border-radius: 25px;
}
    .user{
  background-color: white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
     justify-content: center;
     align-items:center ;
    }
.usersec{
    width: 90%;
    background-color:transparent;
     border-bottom-right-radius:25px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items:center ;
     
    }
#menubtn{
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
    position: absolute;
    top: 159px;
    left:-10px;
    position: fixed;
    background-color: transparent;
    border-color: transparent;
}
.content{
    margin-top: 190px;
    margin-left: 5px;
    padding: 20px;
    display: grid;
    gap: 40px;
    align-content: center;
}
.content.blur{
    filter: blur(4px);
}

.center-heading{
    position: absolute;
    top: 6%;
    left: 48%;
    transform: translate(-50%,-50%);
}
.btns{
    padding: 10px 10px;
    
}
.Logo{
    position: fixed;
    top: 50px;
    left: 13%;
    
}

nav{
    position:fixed;
    top: 0;
    left: 0;
    background:linear-gradient(to right,rgb(255, 28, 28),rgb(225, 0, 0));
    color:#ffffff;
    padding: 20px;
    z-index: 1000;
    align-items: center;
    height: 200px;
    width: 100%

    }
    .notification{
      
        padding: 10px;
        background-color:white;
        border-radius: 10px;
        width: fit-content;
        height:10px;
        text-align: center;
        position: fixed;
        top:180px;
        left: 82%;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
   
    a{
        color: black;
        font-weight: bold;
    }
    .service{
        text-align: center;
        text-decoration: underline;
        height: fit-content;
    }
       .section-1{
    
        
    }
    .section-2{
text-align: center;
    }
    .products{text-decoration: underline;}
    .section-3{
       
    }
footer{
    text-align: center;
    color: #000000;
    background: linear-gradient(135deg, rgb(255, 1, 1) 0%, #830000 100%);
    height: fit-content;
    width: 100%; 
    padding: 0%;
    margin: 0%; 
  }
.timloc{
height: 70px;
display: flex;
gap: 40px;
justify-content: center;
align-content: center;
}
.location{
border-radius: 10px;
height: 70px;
background-color:red;
width: 45%;
text-align: center;
box-shadow:0 10px 20px black;
display:flex;
justify-content: center;
align-items: center;
gap: 20px;

}
.locationh{
    color: white;
}
.time{
 border-radius: 10px;
height: 70px;
background-color:red;
width: 45%;
text-align: center;
box-shadow:0 10px 20px black;
display:flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.timeh{
    color: white;
}

.separator2{
    width: 60%;
height: 10px;
background-color: rgb(0, 0, 0);
border-radius: 25px;
position: relative;
left: 20%;
}

.separator{
    width: 80%;
height: 10px;
background-color: rgb(0, 0, 0);
border-radius: 25px;
position: relative;
left: 10%;
}
.verse{
    width: 100%;
    height: fit-content;
    border-color: rgb(6, 6, 6);
    border-style:double;
    border-radius: 25px;
    text-align: center;

}
.updates{
    height: 160px;
    width:100%;
text-align: center;
background-image: url(/Media/theme.webp);
background-repeat: none;
background-size: cover;
border-radius: 10px;
}

.finish{
    font-size: 40px;
color: rgb(0, 0, 0);
font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: white;
    background-repeat: none;
    background-size:cover;
    background-attachment: scroll;
    margin: 0%;
    padding: 0%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1s,1fr);
    gap: 50px;
 }